<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>StackOverflow-lite</title>
    <link rel="stylesheet" href="../static/css/home.css">
  </head>
  <body>
    <div class="intro-body">
      <div class="intro-nav"> 
        <nav class="nav">
          <a class="nav-line" href="home.html" class = "active">Home</a>
          <a class="nav-line" href="topquestions.html">Top Questions</a>
          <a class="nav-line" href="about.html">About</a>
        </nav>
      </div>
      <hr>
      <div class="intro" align="center">
        <div class="authbody">
          <div class="header">        
             <h1>Welcome to <br> StackOverflow-lite</h1>
          </div>
        </div> 
        <div class="authbody">
          <div class="auth-button"> 
              <a class="auth" href="../templates/signup.html">Sign Up</a>
              <a class="auth" href="../templates/signin.html">Log  In</a>
          </div>
        </div>
      </div>
      <div class="example-question">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque perspiciatis illo praesentium maiores expedita laboriosam placeat, animi ipsam earum ipsum quia nemo consequatur suscipit magnam dicta possimus odio! Perspiciatis, exercitationem!</p>
      <div class="example-answers">
          <h5>Posted by : Joe</h5>
        <h5>posted : Mon, 24 Dec 2018 10:55:18 GMT</h5>
      </div>
      </div>
      <div class="footer">
        <footer>
          <p>StackOverflow-lite</p>
          <p>2018</p>
        </footer>
      </div>
    </div>
  </body>
</html>
