<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>StackOverflow-lite</title>
  <link rel="stylesheet" href="../static/css/nav.css">
</head>
<body>
  <nav class="nav">
    <h2 class="nav-line">StackOverflow</h2>
    <a class="nav-line" href="#questions">Home</a>
    <a class="nav-line" href="topquestions.html">Top Questions</a>
    <a class="nav-line" href="about.html">About</a>
    <div class="dropdown" align="right">
      <button class="dropbtn">
        More
      </button>
      <div class="dropdown-content">
        <a href="../templates/signup.html">Sign Up</a>
        <a href="../templates/signin.html">Log  In</a>
      </div>
    </div>
  </nav>
  <br>
  <div class="search">
      <div class="search-bar">
        <input class="line" type="text" name="" value="" placeholder="Search a question here">
        <p class="line">search</p>
        </input>
        <p class="line">Ask Question</p>
        <p class="line">Popular Questions</p>
        <p class="line">Recent Questions</p>
      </div>
    </div>
  <div class="main-questions" id="questions">
    <div class="questions">
      <div class="questions-body">
          <div class="single-question">
            <h3 class="title">Python Question</h3>
            <p class="question">How can a class inherit parent class ?</p>
            <h6>Author: Trevor</h6>  <h6>catogory: Python</h6>              <h6>12:06|| 11/Aug/2018</h6>
            <br>
            <button type="button" name="button">Up Vote</button>
            <button type="button" name="button">Down Vote</button>
            <button type="button" name="button">(12)Answers</button>
            <button type="button" name="button">Give Answer</button>
          </div>
        </div>
      <div class="answer">
          <div class="question-p">
            <p class="question">Answer: Create a subclass then call the Parent    class from   that subclass... <a        href="moreanswers.html">continue</a>
                <h6>Author: Trevor</h6>  <h6>catogory: Python</h6>              <h6>12:06|| 11/Aug/2018</h6>
              <br>
              <button type="button" name="button">Up Vote</button>
              <button type="button" name="button">Down Vote</button>
              <button type="button" name="button">Reply</button>
              <div class="dropdown" align="right">
                <button class="dropbtn">
                  More
                </button>
                <div class="dropdown-content">
                  <a href="../templates/signup.html">Sign Up</a>
                  <a href="../templates/signin.html">Log  In</a>
                </div>
              </div>
            </p>
            <hr>
            <p class="question">Answer: Create a subclass then call the Parent    class from   that subclass... <a        href="moreanswers.html">continue</a>
                <h6>Author: Trevor</h6>  <h6>catogory: Python</h6>              <h6>12:06|| 11/Aug/2018</h6>
              <br>
              <button type="button" name="button">Up Vote</button>
              <button type="button" name="button">Down Vote</button>
              <button type="button" name="button">Reply</button>
              <div class="dropdown" align="right">
                <button class="dropbtn">
                  More
                </button>
                <div class="dropdown-content">
                  <a href="../templates/signup.html">Sign Up</a>
                  <a href="../templates/signin.html">Log  In</a>
                </div>
              </div>
            </p>
            <p class="question">Answer: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a        href="moreanswers.html">continue</a>
                <h6>Author: Trevor</h6>  <h6>catogory: Python</h6>              <h6>12:06|| 11/Aug/2018</h6>
              <br>
              <button type="button" name="button">Up Vote</button>
              <button type="button" name="button">Down Vote</button>
              <button type="button" name="button">Reply</button>
            </p>
          </div>
          <br>
          <div class="viewall">
            <a cla href="#">view all answers</a>
          </div>
        </div>
      <div class="questions-body">
          <div class="single-question">
            <h3 class="title">Python Question</h3>
            <p class="question">How can a class inherit parent class ?</p>
            <h6>Author: Trevor</h6>  <h6>catogory: Python</h6>              <h6>12:06|| 11/Aug/2018</h6>
            <br>
            <button type="button" name="button">Up Vote</button>
            <button type="button" name="button">Down Vote</button>
            <button type="button" name="button">(12)Answers</button>
            <button type="button" name="button">Give Answer</button>
          </div>
        </div>
      <div class="answer">
          <div class="question-p">
            <p class="question">Answer: Create a subclass then call the Parent    class from   that subclass...Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a        href="moreanswers.html">continue</a>
                <h6>Author: Trevor</h6>  <h6>catogory: Python</h6>              <h6>12:06|| 11/Aug/2018</h6>
              <br>
              <button type="button" name="button">Up Vote</button>
              <button type="button" name="button">Down Vote</button>
              <button type="button" name="button">Reply</button>
            </p>
            <hr>
            <p class="question">Answer: Create a subclass then call the Parent    class from   that subclass... <a        href="moreanswers.html">continue</a>
                <h6>Author: Trevor</h6>  <h6>catogory: Python</h6>              <h6>12:06|| 11/Aug/2018</h6>
              <br>
              <button type="button" name="button">Up Vote</button>
              <button type="button" name="button">Down Vote</button>
              <button type="button" name="button">Reply</button>
            </p>
          </div>
          <br>
          <div class="viewall">
            <a cla href="#">view all answers</a>
          </div>
        </div>
    </div>
  </div>
</body>
</html>
