<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>StackOverflow</title>
    <link rel="stylesheet" type="text/css" href="../static/css/postquestion.css">
  </head>
  <body class="question-body">
    <div class="post-q-nav">
      <nav class="nav">
        <a class="nav-line" href="#questions">Home</a>
        <a class="nav-line" href="topquestions.html">Top Questions</a>
        <a class="nav-line" href="about.html">Profile</a>
        <a class="nav-line" href="about.html">About</a>
      </nav>
    </div>
    <br>
    <hr>
    <div class="question-input" align="center">
      <form class="post-form" action="index.html" method="post" >
          <p class="post-t"><b>Question Title:</b></p>
          <input class="post-title" type="text" name="" placeholder="Enter Title of your question....">
          <br>
          <button class="post-category" type="button" name="button">Select Question Category--</button>
          <br>
          <textarea class="post-input" type="text" placeholder="Enter question title......" ></textarea><br>
          <p class="post-ti"> <b> " </b> </p>
          <p class="post-ti"> <b> * </b> </p>
          <p class="post-ti"> <b> < </b></p>
          <p class="post-ti"> <b> > </b> </p>
          <p class="post-ti"> <b> " </b> </p>
          <p class="post-ti"> <b> * </b> </p>
          <p class="post-ti"> <b> * </b> </p>
          <p class="post-ti"> <b> < </b></p>
          <p class="post-ti"> <b> > </b> </p>
          <p class="post-ti"> <b> " </b> </p>
          <p class="post-ti"> <b> * </b> </p>
          <button class="post-button" type="post-submit" name="button">SUBMIT</button>
      </form>
    </div>
    <br>
    <hr>`
    <div class="other" align="center">
      <div class="suggested-question">
        <a href="#">What an API??</a><br>
        <a href="#">How do i use slack??</a><br>
        <a href="#">How prepared are you for bootcamp??</a><br>
        <a href="#">how to always write clean python code??</a><br>
      </div>
      <div class="suggested-question">
        <a href="#">What an API??</a><br>
        <a href="#">How do i use slack??</a><br>
        <a href="#">How prepared are you for bootcamp??</a><br>
        <a href="#">how to always write clean python code??</a><br>
      </div>
    </div>
    <br>
    <hr>
    <div class="other-question" align="center">
        <div class="questions">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="questions">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <br>
    <hr>
    <div class="footer" align="center">
      <footer align="center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h2>2018 BOOOTCAMP</h2>
      </footer>
    </div>
  </body>
</html>