<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>StackOverflow-lite</title>
    <link rel="stylesheet" href="../static/css/profile.css">
  </head>
  <body class="profile-body">
    <div class="navbar">
      <nav class="nav">
        <a class="nav-line" href="#questions">Home</a>
        <a class="nav-line" href="topquestions.html">Top Questions</a>
        <a class="nav-line" href="about.html">Profile</a>
        <a class="nav-line" href="about.html">About</a>
      </nav>
    </div>
    <br>
    <hr>
    <div class="profileinfo">
      <div class="first-info">
        <div class="info-left">
            <img src="" alt="user image">
            <p>NAME: JOSEPH</p>
            <p>EMAIL : JOSEPHNJUGUNA <br> 482@GMAIL.COM</p>
            <p>BIOS: PRO-STARTER AT HTML </p>
            <p>DESCRPTION: PROGRAMMER NOT DESIGNER</p>
        </div>
      </div>
      <div class="first-info">
        <div class="user-messages">
          <p>User Messages:</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
            <p>ipsum dolim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="profileinfo">
      <br>
      <div class="user-info">
        <div class="questions-asked-by-user">
          <h3>Questions-asked-by-Me</h3>
          <p><b>question:</b></p>
          <div class="question">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do</p><p align="center">Author:Joseph Njuguna,2:03pm 15th 12 2018,Category : Programming</p>
          </div>
          <p><b>Answers:</b></p>
          <div class="answers-given">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p align="center">Author:Naomi,2:40pm 15th 12 2018,Category : Programming <button type="button" name="button">Accept</button> <button type="button" name="button">Reject</button> </p>
          </div>
          <div class="answers-given">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p align="center">Author:Naomi,2:40pm 15th 12 2018,Category : Programming <button type="button" name="button">Accept</button> <button type="button" name="button">Reject</button> </p>
          </div>
          <div class="answers-given">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p align="center">Author:Naomi,2:40pm 15th 12 2018,Category : Programming <button type="button" name="button">Accept</button> <button type="button" name="button">Reject</button> </p>
          </div>
        </div>
      </div>
      <br>
      <div class="user-info">
        <div class="answers-given-by-user">
          <h3>Answers-given-by-me:</h3>
          <div class="">
            <p><b>The Question:</b></p>
            <div class="question-asked">
              <p>Lorem ipsum dolor sit amet, consectetur nderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p align="center">Author: Trevor B,12:03pm 25th 12 2018,Category : Languages</p>
            </div>
            <div class="answers-given-by-me">
              <p> <b> My Answer: </b> </p>
              <p>te irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <p align="center">12:13pm 25th 12 2018 <button type="button" name="button">Update Answer</button> </p>
            </div>
          </div>
          <hr>
          <div class="">
            <p><b>The Question:</b></p>
            <div class="question-asked">
              <p>Lorem ipsum dolor sit amet, consectetur nderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p align="center">Author: Trevor B,12:03pm 25th 12 2018,Category : Languages</p>
            </div>
            <div class="answers-given-by-me">
              <p> <b> My Answer: </b> </p>
              <p>te irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <p align="center">12:13pm 25th 12 2018 <button type="button" name="button">Update Answer</button> </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="footer">
        <div class="stackfooter">
          <p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h2 align="center">2018 PRE-BOOTCAMP</h2>
        </div>
      </div>
    </div>
  </body>
</html>
