<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackLite</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
    <nav>
    </nav>
    <div class="body-background">
      <form class="auth-form" action="index.html" method="post" align="center">
        <p>Welcome to StackOverflow-Lite</p>
        <h4>please log in to continue</h4>
        <ul><input type="email" name="" value="" required="email" placeholder="enter your email" align="center"></ul>
        <ul><input type="enter your password" name=""required="password" value="" placeholder="enter your password"></ul>
        <button type="submit" name="button">SIGN IN</button>
        <h5>New to StackOverflow-lite?? <a href="../templates/signup.html">Create Account here</a></h5>
      </form>
    </div>
  </body>
</html>
