<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackLite</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  </head>
  <body>
    <nav class="navbar">
    </nav>
    <div class="body-background">
      <form class="auth-form" action="index.html" method="post">
            <p>Welcome to StackOverflow-lite </p>
            <h4>create account by filling the form below</h4>
            <ul>
              <input type="name" name="" value="" placeholder="enter username">
            </ul>
            <ul>
              <input type="email" name="" value="" placeholder="enter email" required = "email" >
            </ul>
            <ul>
              <input type="password" name="" value="" placeholder="enter password" required="password">
            </ul>
            <ul>
              <input type="password" name="" value="" placeholder="confirm password" required="password">
            </ul>
            <button type="submit" name="Submit">SIGN UP</button><br>
            <h5>Have An account??<a href="../templates/signin.html">Sign In</a></h5>
        </form>
    </div>
  </body>
</html>
